@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: "popins", sans-serif;
}

p{
    font-family: "raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "poppins", sans-serif;
}

h1, h2{
    font-family: "popins", sans-serif;
    font-weight: 900;
    font-size: 65px;
}

li{
    font-family: "raleway", sans-serif;
}

/*------------------------------- Image background*/
.first-background-image{
    height: 100vh;
    background: url(../images/1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.call-out-container{
    padding-left: 0;
    padding-right: 0;
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    Height:100%;
    background-color:rgba(0, 0, 0, 0.5);
}

/*jumbotron*/
.jumbotron{
    background-color: transparent;
}

.jumbotron-header {
    color:white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead{
    color: #d0d0d0;
    margin: 35px 0px;
}

.second-background-image{
    background: url(../images/students.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    min-height: 500px;
    max-width: 100%;
    margin: 0;
}

.third-background-image{
    background: url(../images/16027.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    min-height: 500px;
    max-width: 100%;
    margin: 0;
}

.school-background-image{
    background: url(../images/369901.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    min-height: 300px;
    max-width: 100%;
    margin: 0;
}

.university-background-image{
    background: url(../images/129.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    min-height: 300px;
    max-width: 100%;
    margin: 0;
}

.partner-img-1{
    background: url(../images/ise.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;

    min-height: 100px;
}

/*------------------------------- Features image background
.partner-img-1{
    background: url(../images/ise.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

.partner-img-2{
    background: url(../images/learnkey.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

.partner-img-3{
    background: url(../images/ise.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

.partner-img-4{
    background: url(../images/liffey.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;

    max-width: 50px;
    max-height: 50px;
}*/

.feature-section{
    margin-top: 90px;
}
/*Footer section*/
.footer-section{
    background-color: #043353;
    padding-top: 100px;
}

.footer-section a{
    color: #faf8f0;
    font-weight: 400;
}

.footer-section h5{
    color: #d3dde6;
    text-transform: uppercase;
}

.form-control{
    margin-bottom: 10px;
    background-color: #043353;
}

/*form*/
.btn-outline-success {
}

.school-menu{
    align-items: flex-end
}
.rounded-circle{
    max-height: 90px;
}

.col-md-4{
    padding-right: 15px;
    padding-left: 15px;
}