@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: "popins", sans-serif;
}

p{
    font-family: "raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "poppins", sans-serif;
}

h1, h2{
    font-family: "popins", sans-serif;
    font-weight: 900;
    font-size: 65px;
}

li{
    font-family: "raleway", sans-serif;
}

/*------------------------------- Image background*/
.first-background-image{
    background: url(../images/1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    min-height: 800px;
    max-width: 100%;
    margin: 0;
}

.second-background-image{
    background: url(../images/students.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    min-height: 500px;
    max-width: 100%;
    margin: 0;
}

/*------------------------------- Image background*/
.partner-img-1{
    background: url(../images/ise.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

.partner-img-2{
    background: url(../images/learnkey.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

.partner-img-3{
    background: url(../images/ise.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

.partner-img-4{
    background: url(../images/liffey.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;

    max-width: 50px;
    max-height: 50px;
}

/*
.feature-section{
    margin-top: 200px;
    margin-bottom: 50px;
}*/

.footer-section{
    background-color: #f8f8f8;
    padding-top: 100px;
}